backports.functools-lru-cache==1.5
cheroot==6.5.8
CherryPy==17.4.2
contextlib2==0.5.5
jaraco.functools==2.0
more-itertools==5.0.0
portend==2.5
pytz==2019.2
redis==3.3.8
six==1.12.0
tempora==1.14.1
zc.lockfile==2.0
